#contenedor {
    margin: 0 auto;
    padding-bottom: 5px;
    width: 865px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.titulo {
    text-align: center;
    font-weight: bold;
}

fieldset {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:#f1f1f1;
    margin: 0 auto;
    width: 820px;
}

legend {
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    background-color: white;
}
.btn-p{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-bottom: 0;
    margin-left: 5px;
}

.btn{
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #337ab7;
}
input:disabled {
    padding: 3px;
    border:none;
    background-color: #f1f1f1;/*#dddddd;*/
}
.tr_hover {background-color: #ffccee}